*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url(nature.jpg) ;
    background-position: center;
    background-size: cover;
    position: relative;
    
}
nav{
    display: flex;
    padding: 2% 4%;
    justify-content: space-between;
    align-items: center;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 18px;
    position: relative;
    
}
.nav-links ul li a{
    color: white;
    text-decoration: none;
    font-size: 11px;

}
.btn-acct{
    background-color: transparent;
    border: none;

}
.btn-acct :hover{
    background-color: rgba(245, 162, 8, 0.893);
    transition: 0.5s;
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 5px;
}
.text-space{
    width: 90%;
    color: white;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.text-space h1{
    font-size: 25px;

}
.text-space p{
    font-size: 10px;
    line-height: 20px;
    margin-top: 1.8%;

}
.form-box{
    position: absolute;
    text-align: center;
    top: 50%;
    left: 17.5%;

}
.input-bar{
    width: 700px;
    height: 19px;
    padding: 13px;
    background-color: rgba(255, 255, 255, 0.2);
    border: none;
    color: white;
    outline: none;
    padding-left: 50px;
    font-size: 15px;
    
}
::placeholder{
    color: rgba(255, 255, 255, 0.4);
    padding-left: 10px;
    font-size: 11px;

}
.search{
    padding: 15px 30px;
    background-color: rgb(67, 149, 216);
    border: none;
    margin-left: -4px;
    color: white;
    cursor: pointer;
    
}
.icon{
position: absolute;
padding: 10px;
font-size: 20px;
color: rgba(255, 255, 255, 0.5);
cursor: pointer;
}